@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

$mainfont: "Lato", Arial, sans-serif;
$red: #f47474;
$lightred: #ffeeee;
$darkblue: #142056;
$mediumblue: #182391;
$lightblue: #a4cbf5;
$backgroundblue: #eef6ff;
$mint: #6bffe6;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $mainfont;
  color: $darkblue;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  color: $darkblue;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
p {
  font-size: 1em;
}

a {
  text-decoration: none;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin primaryButton {
  display: block;
  background-color: $darkblue;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

@mixin generalBodyLayout {
  display: grid;
  grid-template-columns: 90px 1fr;
  min-height: 100vh;
}

@mixin formInput {
  display: block;
  padding: 15px 22px;
  border-radius: 4px;
  border: none;
  background-color: $backgroundblue;
  width: 100%;
  font-size: 0.9em;
  margin: 15px 0;
}

@mixin progressBar {
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    min-width: 190px;
    height: 20px;
    margin: 8px 0;
  }

  progress[value]::-webkit-progress-bar {
    background-color: $lightblue;
    border-radius: 22px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
  }

  progress[value]::-webkit-progress-value {
    background-color: $mint;
    border-radius: 22px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}
