$mainfont: "Lato", sans-serif;
$red: #f47474;
$lightred: #ffeeee;
$darkblue: #142056;
$mediumblue: #182391;
$lightblue: #a4cbf5;
$backgroundblue: #eef6ff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $mainfont;
  color: $darkblue;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  color: $darkblue;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 18px;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin primaryButton {
  background-color: $darkblue;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
}

@mixin generalBodyLayout {
  display: grid;
  grid-template-columns: 90px 1fr;
}

@mixin formInput {
  display: block;
  padding: 15px 22px;
  border-radius: 4px;
  border: none;
  background-color: $backgroundblue;
  width: 100%;
  font-size: 0.9em;
  margin: 15px 0;
}
