.main--moduleWrapper {
  @include generalBodyLayout;
}

.section--moduleContent {
  display: grid;
  grid-template-columns: auto 350px;
}

.art--segmentContent {
  display: block;
  padding: 5em;

  h2 {
    margin-bottom: 2em;
  }

  h3 {
    margin: 1em 0;
  }

  p {
    margin-bottom: 1em;
  }
}
