.main--moduleWrapper {
  @include generalBodyLayout;
}

.section--moduleContent {
  display: grid;
  grid-template-columns: auto 350px;
  grid-template-rows: auto 100px;
}

.art--segmentContent {
  display: block;
  padding: 5em 12%;
  grid-area: 1 / 1;

  h2 {
    margin-bottom: 2em;
  }

  h3 {
    margin: 1em 0;
  }

  p {
    max-width: 750px;
    margin-bottom: 1em;
  }
}

.div--bookmarkBtn {
  text-align: right;
  float: right;
  display: flex;
  justify-content: center;
  cursor: pointer;

  svg {
    display: inline-block;
  }

  p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
    margin-top: 3px;
    font-weight: 600;
  }

  &.bookmarked {
    svg {
      path {
        fill: $mint; // temporary until fill is fixed or svg replaced
      }
    }

    p {
      display: none;
    }
  }
}

.div--exerciseContent {
  clear: both;
  margin-top: 4em;
  margin-bottom: 8em;
}

#form--exercise {
  width: 65%;
  min-width: 450px;

  textarea {
    display: block;
    min-width: 450px;
    width: 100%;
    height: 10em;
    outline: none;
    resize: none;
    border-radius: 4px;
    border: none;
    padding: 10px;
    background-color: rgba(204, 206, 211, 0.472);
    margin-bottom: 1em;
  }

  button {
    @include primaryButton;
    outline: none;
    height: 37px;
    width: 11em;
    padding: 10px;
    background-color: $lightblue;
    color: $darkblue;
    float: right;

    &:hover {
      background-color: $mint;
    }
  }

  .div--feedback {
    display: none;
    width: calc(100% - 14em);
    padding: 10px;
    font-size: 0.8em;
    border-radius: 4px;
    border: 1px solid $mint;
    background-color: #6bffe62d;

    &.wrongAnswer {
      background-color: $lightred;
      border: 1px solid $red;
    }
  }
}

.art--previousNext {
  clear: both;
  grid-area: 2 / 1;
  display: block;
  padding: 0 12%;
  padding-bottom: 2em;

  button {
    @include primaryButton;
    display: inline-block;
    margin: 10px;

    &:hover {
      background-color: $mediumblue;
    }
  }
}
