* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #142056;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  color: #142056;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

.nav--main {
  position: relative;
  background-color: white;
  height: 100vh;
  width: 90px;
  -webkit-box-shadow: 1px 1px 6px 2px #c4c4c480;
          box-shadow: 1px 1px 6px 2px #c4c4c480;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav--main .img--logo {
  height: 55px;
  width: 55px;
  display: block;
  position: absolute;
  top: 0;
  margin: 1em auto;
}

.div--navLinks {
  display: block;
  width: 100%;
  text-align: center;
}

.div--navLinks a {
  display: block;
  position: relative;
  height: 70px;
  margin: 20px auto;
  text-decoration: none;
}

.svg--navIcons:hover path {
  fill: #182391;
}

.svg--navIcons:active path {
  fill: #182391;
}

.current path {
  fill: #142056;
}

.main--indexWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
}

.section--indexContent {
  background-color: #eef6ff;
  padding-left: 20px;
}

.section--indexContent a {
  display: block;
  margin: 10px 0;
}

.main--dashboardWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
}

.section--dashboardContent {
  background-color: #eef6ff;
  padding-left: 20px;
}

.main--bookmarksWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
}

.section--bookmarksContent {
  background-color: #eef6ff;
  padding-left: 20px;
}

.main--moduleWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
}

.section--moduleContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 350px;
      grid-template-columns: auto 350px;
}

.art--segmentContent {
  display: block;
  padding: 5em;
}

.art--segmentContent h2 {
  margin-bottom: 2em;
}

.art--segmentContent h3 {
  margin: 1em 0;
}

.art--segmentContent p {
  margin-bottom: 1em;
}

.art--moduleOverview {
  background-color: #142056;
}

.art--moduleOverview div {
  background-color: white;
  border-radius: 4px;
  margin: 17px;
  padding: 10px;
}

.main--testWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
}

.section--testContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 350px;
      grid-template-columns: auto 350px;
}

.art--testContent {
  padding: 5em;
}

.art--testContent h2 {
  margin-bottom: 2em;
}

.div--login, .div--signup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20fr 35fr;
      grid-template-columns: 20fr 35fr;
  grid-column-gap: 20px;
  width: 100%;
  height: 100vh;
  margin: 0%;
}

.leftdiv--login, .leftdiv--signup {
  background-image: url("../images/path_background.png");
  height: 100vh;
}

.rightdiv--login, .rightdiv--signup {
  margin: auto;
  width: 40%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.rightdiv--login .p--login, .rightdiv--signup .p--login {
  margin-top: 70px;
}

.rightdiv--login .p--login a, .rightdiv--signup .p--login a {
  color: #142056;
  font-weight: 900;
}

.rightdiv--login img, .rightdiv--signup img {
  margin-top: 60px;
}

#formLoginUser, #formSignupUser {
  margin-top: 40px;
  position: relative;
}

#formLoginUser input, #formSignupUser input {
  padding: 15px 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: none;
  background-color: #eef6ff;
  width: 100%;
}

#formLoginUser button, #formSignupUser button {
  background-color: #142056;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  font-size: 15px;
  position: absolute;
  right: 0px;
}

#formLoginUser .div--error, #formSignupUser .div--error {
  margin-top: 50px;
  background-color: #ffeeee;
  border-radius: 4px;
  border: #f47474 1px solid;
}

#formLoginUser .div--error p, #formSignupUser .div--error p {
  color: #f47474;
}
/*# sourceMappingURL=style.css.map */