@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, sans-serif;
  color: #142056;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  color: #142056;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
}

.nav--main {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  height: 100vh;
  width: 90px;
  -webkit-box-shadow: 1px 1px 6px 2px #c4c4c480;
          box-shadow: 1px 1px 6px 2px #c4c4c480;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav--main .img--logo {
  height: 55px;
  width: 55px;
  display: block;
  position: absolute;
  top: 0;
  margin: 1em auto;
}

.nav--main a {
  position: absolute;
  bottom: 2%;
}

.div--navLinks {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}

.div--navLinks a {
  display: block;
  position: relative;
  height: 70px;
  margin: 20px auto;
  text-decoration: none;
}

.div--navLinks a span {
  position: absolute;
  top: 50px;
  left: calc(50% - 3em);
  width: 6em;
  opacity: 0;
  font-size: 0.8em;
  color: #182391;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  z-index: 15;
}

.div--navLinks a:hover span {
  opacity: 1;
}

.div--navLinks a:hover .svg--navIcons path {
  fill: #182391;
}

.div--navLinks a:active .svg--navIcons path {
  fill: #182391;
}

.a--logout:hover {
  color: #182391;
  font-weight: 700;
}

.current path {
  fill: #142056;
}

.main--indexWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
  min-height: 100vh;
}

.section--indexContent {
  position: relative;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--indexContent h3 {
  display: block;
  margin: 10px 0;
  color: white;
  z-index: 10;
  width: 200px;
}

.index--background {
  position: absolute;
  background-color: #142056;
  z-index: -10;
  height: 100vh;
  width: 100vw;
}

#module_illustrations {
  width: 1200px;
  height: 800px;
  position: absolute;
  margin: auto;
}

#learning_path_illustration {
  position: absolute;
  margin: auto;
  display: block;
  width: 1200px;
  height: 800px;
  background: none;
  z-index: -1;
}

#learning_path_illustration #background_path {
  top: 4%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#module1:hover,
#module2:hover,
#module3:hover,
#module4:hover,
#module5:hover,
#module6:hover {
  opacity: 0.8;
}

#i_module1001,
#i_module1002,
#i_module1003,
#i_module1004,
#i_module1005,
#i_module1006 {
  position: absolute;
}

#info_module1001,
#info_module1002,
#info_module1003,
#info_module1004,
#info_module1005,
#info_module1006 {
  position: absolute;
}

#info_module1001 {
  top: 0%;
  left: 50%;
}

#info_module1002 {
  top: 23%;
  left: 26%;
}

#info_module1003 {
  top: 24%;
  left: 75%;
}

#info_module1004 {
  top: 53%;
  left: 55%;
}

#info_module1005 {
  top: 73%;
  left: 25%;
}

#info_module1006 {
  top: 70%;
  left: 80%;
}

#i_module1001 {
  top: 0%;
  left: 33%;
}

#i_module1002 {
  top: 21%;
  left: 7%;
}

#i_module1003 {
  top: 21%;
  left: 57%;
}

#i_module1004 {
  top: 52%;
  left: 37%;
}

#i_module1005 {
  top: 70%;
  left: 7%;
}

#i_module1006 {
  top: 66%;
  left: 62%;
}

.index--progress {
  height: 10px;
  width: 140px;
}

.index--progress progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  min-width: 190px;
  height: 20px;
  margin: 8px 0;
}

.index--progress progress[value]::-webkit-progress-bar {
  background-color: #a4cbf5;
  border-radius: 22px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.index--progress progress[value]::-webkit-progress-value {
  background-color: #6bffe6;
  border-radius: 22px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.index--progress progress[value] {
  min-width: 100px;
  height: 10px;
  margin: 0 0;
  border-radius: 20px;
  vertical-align: top;
}

.index--progress progress[value]::-webkit-progress-bar {
  background-color: #46527e;
}

.not--active--link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.not--active--module {
  opacity: 0.2;
}

.main--dashboardWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
  min-height: 100vh;
}

.section--dashboardContent {
  position: relative;
  background-color: #eef6ff;
  padding: 3em 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 2.5fr;
      grid-template-rows: 1fr 2.5fr;
  grid-gap: 2em;
}

.section--dashboardContent article {
  display: block;
  background-color: white;
  border-radius: 5px;
  padding: 3em 4em;
  min-width: 450px;
}

.section--dashboardContent article h3 {
  margin-bottom: 1.5em;
}

.section--dashboardContent article h4 {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0.8em;
}

#divNotification {
  display: none;
  position: absolute;
  top: 1em;
  left: calc(50% - 155px);
  margin: 0 auto;
  width: 310px;
  opacity: 0;
  background-color: white;
  border-radius: 6px;
  border: 3px solid #6bffe6;
  text-align: center;
  padding: 1.2em 1em;
  -webkit-box-shadow: 1px 2px 5px 1px #c4c4c480;
          box-shadow: 1px 2px 5px 1px #c4c4c480;
  -webkit-animation: displayPopup 2.8s ease-out;
          animation: displayPopup 2.8s ease-out;
}

@-webkit-keyframes displayPopup {
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes displayPopup {
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.art--userIntro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
}

.art--userIntro p {
  margin-bottom: 1.5em;
}

.art--userIntro a {
  text-decoration: underline;
}

.art--userPersonal {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1;
}

.form--personalInfo input {
  display: block;
  padding: 15px 22px;
  border-radius: 4px;
  border: none;
  background-color: #eef6ff;
  width: 100%;
  font-size: 0.9em;
  margin: 15px 0;
}

.form--personalInfo #inputUserPassword {
  margin-bottom: 1.5em;
}

.form--personalInfo button {
  display: block;
  background-color: #142056;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  width: 10em;
  padding: 10px 5px;
  float: right;
}

.form--personalInfo button:hover {
  background-color: #182391;
}

#btnDeleteUser {
  display: block;
  background-color: #142056;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  width: 10em;
  padding: 10px 5px;
  background-color: #e4e6eb;
  color: #8e92a1;
  margin-top: 1em;
}

#btnDeleteUser:hover {
  background-color: #ffeeee;
  color: #f47474;
}

.art--userProgress {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / span 2;
}

.art--userProgress progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  min-width: 190px;
  height: 20px;
  margin: 8px 0;
}

.art--userProgress progress[value]::-webkit-progress-bar {
  background-color: #a4cbf5;
  border-radius: 22px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.art--userProgress progress[value]::-webkit-progress-value {
  background-color: #6bffe6;
  border-radius: 22px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.art--userProgress h3:first-of-type {
  margin-bottom: 0.4em;
}

.art--userProgress h3:nth-of-type(2) {
  margin-top: 2.5em;
}

.art--userProgress .div--moduleDisplay {
  text-align: center;
  margin-bottom: 1.8em;
}

.art--userProgress .div--moduleDisplay p {
  font-weight: 600;
  font-size: 1.1em;
  width: 50%;
  margin: 0 auto;
}

.art--userProgress .div--moduleDisplay p:first-of-type {
  font-size: 5.9em;
}

.div--achvWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2em;
}

.div--achvWrapper .div--achievement {
  text-align: center;
  max-width: 140px;
  margin: 0 auto;
}

.div--achvWrapper .div--achievement img {
  height: 75px;
  opacity: 0.4;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
}

.div--achvWrapper .div--achievement p {
  font-size: 0.9em;
  padding: 4px 22px;
  opacity: 0.4;
}

.div--achvWrapper .div--achievement.activated img {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.div--achvWrapper .div--achievement.activated p {
  opacity: 1;
}

.div--achvWrapper div:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 2 / 3;
}

.div--achvWrapper div:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2 / 2 / 2 / 4;
}

@media screen and (min-width: 1220px) {
  .section--dashboardContent {
    padding: 3.5em 8%;
  }
}

@media screen and (min-width: 1600px) {
  .section--dashboardContent {
    padding: 3.5em 16%;
  }
}

.main--bookmarksWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
  min-height: 100vh;
}

.section--bookmarksContent {
  background-color: #eef6ff;
  padding: 3em 5%;
  text-align: center;
}

.section--bookmarksContent h1 {
  padding-bottom: 4%;
}

.section--bookmarksContent .section--bookmarksArticles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 2.5fr;
      grid-template-rows: 1fr 2.5fr;
  grid-gap: 2em;
}

.section--bookmarksContent .section--bookmarksArticles a {
  text-decoration: none;
}

.section--bookmarksContent .section--bookmarksArticles article {
  display: block;
  background-color: white;
  border-radius: 5px;
  padding: 2em 3em;
  text-align: center;
}

.section--bookmarksContent .section--bookmarksArticles article h3 {
  margin-bottom: 1.5em;
}

.section--bookmarksContent .section--bookmarksArticles article h4 {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0.8em;
}

.section--bookmarksContent .section--bookmarksArticles article:hover {
  background-color: #a4cbf5;
}

.main--moduleWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
  min-height: 100vh;
}

.section--moduleContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 350px;
      grid-template-columns: auto 350px;
  -ms-grid-rows: auto 100px;
      grid-template-rows: auto 100px;
}

.art--segmentContent {
  position: relative;
  display: block;
  padding: 5em 12%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  z-index: 10;
}

.art--segmentContent h2 {
  margin-bottom: 2em;
}

.art--segmentContent h3 {
  margin: 1em 0;
}

.art--segmentContent p {
  max-width: 750px;
  margin-top: 1em;
  margin-bottom: 8px;
}

.art--segmentContent .bold {
  font-weight: 700;
  margin-top: 1.5em;
}

.art--segmentContent ul {
  padding-left: 1.2em;
  line-height: 1.5;
  margin-bottom: 2em;
}

.div--syntaxBackground {
  background-color: #eef6ff;
  text-align: center;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 5%;
}

.div--syntaxBackground div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.div--syntaxBackground .p--syntaxExample {
  color: #f47474;
  text-align: left;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.div--syntaxBackground .p--syntaxCode {
  text-align: left;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.div--bookmarkBtn {
  position: absolute;
  right: 12%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.div--bookmarkBtn svg {
  display: inline-block;
  height: 26px;
}

.div--bookmarkBtn svg #bookmark_fill {
  display: none;
}

.div--bookmarkBtn p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 7px;
  margin-top: 1px;
  font-weight: 600;
}

.div--bookmarkBtn.bookmarked svg #bookmark_fill {
  display: block;
}

.div--exerciseContent {
  position: relative;
  margin-top: 3em;
  margin-bottom: 4em;
}

#form--exercise {
  position: relative;
  width: 65%;
  min-width: 450px;
}

#form--exercise p {
  margin-bottom: 1em;
}

#form--exercise textarea {
  display: block;
  min-width: 450px;
  width: 100%;
  height: 10em;
  outline: none;
  resize: none;
  border-radius: 4px;
  border: none;
  padding: 10px;
  background-color: rgba(204, 206, 211, 0.472);
  margin-bottom: 1em;
}

#form--exercise button {
  display: block;
  background-color: #142056;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0;
  outline: none;
  height: 37px;
  width: 11em;
  padding: 10px;
  background-color: #a4cbf5;
  color: #142056;
}

#form--exercise button:hover {
  background-color: #6bffe6;
}

#form--exercise .div--feedback {
  display: none;
  width: calc(100% - 14em);
  padding: 10px;
  font-size: 0.8em;
  border-radius: 4px;
  border: 1px solid #6bffe6;
  background-color: #6bffe62d;
}

#form--exercise .div--feedback.wrongAnswer {
  background-color: #ffeeee;
  border: 1px solid #f47474;
}

.art--previousNext {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1;
  display: block;
  padding: 1em 12%;
  padding-bottom: 2em;
  text-align: left;
}

.art--previousNext button {
  display: block;
  background-color: #142056;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  width: 7em;
  margin: 10px 0;
  padding: 10px;
  outline: none;
}

.art--previousNext button:hover {
  background-color: #182391;
}

.art--previousNext a:nth-of-type(2) {
  position: absolute;
  right: 12%;
}

.art--previousNext .hide {
  display: none;
}

.art--moduleOverview {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #142056;
  height: 100%;
}

.art--moduleOverview div {
  background-color: white;
  border-radius: 10px;
  margin: 18px 25px;
}

.div--moduleDisplay {
  text-align: center;
  padding: 10px;
  padding-bottom: 1.8em;
}

.div--moduleDisplay p {
  font-weight: 600;
  font-size: 1.3em;
  width: 80%;
  margin: 0 auto;
}

.div--moduleDisplay p:first-of-type {
  font-size: 5.9em;
}

div.div--segLinks {
  text-align: center;
  padding: 0;
}

div.div--segLinks a {
  text-decoration: none;
  font-weight: 600;
}

div.div--segLinks .div--segBtn {
  display: block;
  background-color: transparent;
  border-radius: 0px;
  margin: 0;
  padding: 1.5em 1em;
  cursor: pointer;
  border-bottom: 1px solid rgba(214, 215, 218, 0.801);
  text-decoration: none;
}

div.div--segLinks .div--segBtn.current {
  background-color: #eef6ff;
}

div.div--segLinks .div--segBtn:hover {
  background-color: #6bffe62d;
}

div.div--segLinks a:first-child div {
  border-radius: 10px 10px 0px 0px;
}

div.div--segLinks a:last-child div {
  border-bottom: none;
  border-radius: 0px 0px 10px 10px;
}

div.div--progressDisplay {
  background-color: transparent;
  padding: 10px 0;
  text-align: left;
}

div.div--progressDisplay p {
  font-size: 1.1em;
  color: white;
  margin-top: 1.1em;
  margin-bottom: 5px;
}

div.div--progressDisplay progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  min-width: 190px;
  height: 20px;
  margin: 8px 0;
}

div.div--progressDisplay progress[value]::-webkit-progress-bar {
  background-color: #a4cbf5;
  border-radius: 22px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

div.div--progressDisplay progress[value]::-webkit-progress-value {
  background-color: #6bffe6;
  border-radius: 22px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

div.div--progressDisplay progress[value] {
  height: 19px;
}

div.div--progressDisplay progress[value]::-webkit-progress-bar {
  background-color: #a4cbf5a8;
}

.main--testWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
  min-height: 100vh;
}

.section--testContent {
  background-color: #eef6ff;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 350px;
      grid-template-columns: auto 350px;
}

.section--testContent .art--moduleOverview {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2;
}

.art--testContent {
  padding: 2em 12%;
}

.art--testContent h2 {
  margin-bottom: 3.8em;
  font-size: 1.9em;
}

.art--testContent h3 {
  margin-bottom: 2em;
  font-size: 1.5em;
}

.art--testContent p {
  margin-bottom: 2.5em;
  font-size: 1.2em;
}

.art--testContent input {
  display: none;
}

.art--testContent [type="radio"]:checked + label {
  background-color: #a4cbf5;
}

.art--testContent label {
  display: inline-block;
  padding: 20px 10px;
  background: #fff;
  border-radius: 6px;
  min-height: 3.5em;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 5px 1px #c4c4c480;
          box-shadow: 1px 2px 5px 1px #c4c4c480;
}

.art--testContent label:hover {
  background-color: #f8f9fb;
}

.form--answerOptions {
  position: relative;
  margin: 1em auto;
  padding: 1em 14%;
  min-width: 670px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1.4em;
}

.form--answerOptions button {
  display: block;
  background-color: #142056;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 14%;
  bottom: -4.5em;
  height: 2.7em;
  font-size: 1.1em;
  border-radius: 6px;
}

.form--answerOptions button:hover {
  background-color: #182391;
}

.div--testResult {
  width: 75%;
  min-width: 450px;
  min-height: 90%;
  margin: 5% auto;
  padding: 3em;
  border-radius: 10px;
  background-color: white;
}

.div--testResult h2 {
  font-size: 2.2em;
  font-weight: 900;
  margin-bottom: 1.3em;
}

.div--testResult p {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.div--testResult p:last-of-type {
  margin-bottom: 2em;
}

.div--testResult .p--score {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.div--testResult .p--score span {
  font-size: 2.5em;
}

.div--testResult .p--finished {
  font-size: 2em;
  font-weight: 700;
  margin-top: 1.4em;
  margin-bottom: 0;
}

.div--testResult button {
  display: block;
  background-color: #142056;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0.8em 1.5em;
  font-size: 1.2em;
  background-color: #6bffe6;
  color: #142056;
}

.div--testResult button:hover {
  background-color: #a4cbf5;
}

svg rect {
  display: none;
}

.div--achNotifications {
  position: absolute;
  top: 1em;
  right: 366px;
}

.div--achNotifications div:nth-child(2) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.div--achNotifications div:nth-child(3) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.div--achNotifications div:nth-child(4) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.div--achievedPopup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 5px;
  width: 18em;
  background-color: white;
  border-radius: 6px;
  border: 2px solid #6bffe6;
  text-align: left;
  padding: 1.2em 1em;
  -webkit-box-shadow: 1px 2px 5px 1px #c4c4c480;
          box-shadow: 1px 2px 5px 1px #c4c4c480;
  z-index: 100;
  opacity: 0;
  -webkit-animation: displayAch 3.8s linear 0.8s;
          animation: displayAch 3.8s linear 0.8s;
}

.div--achievedPopup img {
  display: inline-block;
  height: 45px;
}

.div--achievedPopup p {
  display: inline-block;
  font-size: 0.9em;
  margin: 0;
  margin-left: 10px;
}

.div--achievedPopup p span {
  font-weight: 800;
}

@-webkit-keyframes displayAch {
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes displayAch {
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.div--login,
.div--signup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20fr 35fr;
      grid-template-columns: 20fr 35fr;
  grid-column-gap: 20px;
  width: 100%;
  height: 100%;
  margin: 0%;
}

.leftdiv--login,
.leftdiv--signup {
  background-image: url("../assets/path_background.png");
  height: 100%;
}

.rightdiv--login,
.rightdiv--signup {
  margin: auto;
  width: 40%;
  height: 100%;
  text-align: center;
  position: relative;
}

.rightdiv--login .p--login,
.rightdiv--signup .p--login {
  margin-top: 20px;
  margin-bottom: 3em;
  font-size: 0.8em;
}

.rightdiv--login .p--login a,
.rightdiv--signup .p--login a {
  color: #142056;
  font-weight: 900;
}

.rightdiv--login img,
.rightdiv--signup img {
  margin-top: 60px;
}

#formLoginUser,
#formSignupUser {
  display: block;
  margin-top: 40px;
  margin-bottom: 80px;
  position: relative;
}

#formLoginUser input,
#formSignupUser input {
  display: block;
  padding: 15px 22px;
  border-radius: 4px;
  border: none;
  background-color: #eef6ff;
  width: 100%;
  font-size: 0.9em;
  margin: 15px 0;
}

#formLoginUser button,
#formSignupUser button {
  display: block;
  background-color: #142056;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  position: relative;
  float: right;
}

.div--error {
  display: block;
  position: relative;
  padding: 10px 5px;
  background-color: #ffeeee;
  border-radius: 4px;
  border: #f47474 1px solid;
}

.div--error p {
  color: #f47474;
}
/*# sourceMappingURL=style.css.map */